# Eclipse #
.settings/
.classpath
.project
bin/

# IDEA #
*.iml
.idea/

# Gradle #
.gradle/
build/

# Runtime
orb.db

# Build scritps #
!webservice-server/src/build/
!http-server/src/build
!web/src/build
!web2/src/build
